footer.bg-black-trans
    .block.h6.md-h4.text-center.white.text12.flex.flex-row.justify-center.items-center
      span
        | &copy; 
        span#footer-copyright 2023
        | 
        | Deep End Youth 
      span.text18 &nbsp;&nbsp;&nbsp;
      a.social.ml1(href="https://www.facebook.com/profile.php?id=100094076713054")
        img.inline(src="./images/facebook.svg")
