@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-josefin: 'Josefin Sans', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  background-color: #44c7de;
  height: 100%;
  font-family: 'Josefin Sans', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom styles */
.bg-image {
  background: url('/images/facebook-cover2.jpeg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.75;
  pointer-events: none;
}

@keyframes bgAnimate {
  0% {
    filter: blur(50px);
  }
  100% {
    filter: blur(50px) hue-rotate(360deg);
  }
}

.bg-image.animate-colorShift {
  animation: bgAnimate 15s linear infinite;
}

@keyframes colorShifter {
  0% {
    filter: hue-rotate(0deg) saturate(400%) blur(50px);
  }
  100% {
    filter: hue-rotate(360deg) saturate(400%) blur(50px);
  }
}

@-webkit-keyframes colorShifter {
  0% {
    -webkit-filter: hue-rotate(0deg) saturate(400%) blur(50px);
  }
  100% {
    -webkit-filter: hue-rotate(360deg) saturate(400%) blur(50px);
  }
}

.animate-colorShifter {
  animation: colorShifter 15s infinite linear;
  -webkit-animation: colorShifter 15s infinite linear;
  -moz-animation: colorShifter 15s infinite linear;
  -o-animation: colorShifter 15s infinite linear;
}

.bg-black-trans {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-white-trans {
  background-color: rgba(255, 255, 255, 0.8);
}

.text-brand-dark-black {
  color: #333333;
}

.text-brand {
  color: #44c7de;
}

/* Card styles */
.card-arrow {
  display: flex;
  align-items: center; /* Centers the icon vertically */
  justify-content: center;
}
.card-arrow::before {
  content: '';
  /* position: absolute; */
  width: 12px;
  height: 12px;
  /* top:4px; */
  border-left: solid 2px #000000;
  border-top: solid 2px #000000;
  transform: rotate(135deg);
}

/* .card:hover .card-arrow {
  right: 1rem;
} */

.card:hover {
  background-color: var(--hover-color) !important;
}
