// Height
//
// Set the height of an element.
//
// |||
// |-|-|
// | `.h[0-49]` | em based values |
// | `.h[50, 75, 100]` | percentage based values |
//
// Markup:
// <span class="inline-block border-blue p1 m1 sm3 h10">.h10</span>
// <span class="inline-block border-blue p1 m1 sm3 h5">.h5</span>
// <span class="inline-block border-blue p1 m1 sm3 h100">.h100</span>
//
// Styleguide Layout.7

$_config: (
  property: 'height',
  name: 'h',
  propValues: join(auto, buildNumSequence($min:0, $max:49, $inc:1)),
  unit: 'em'
);
@include buildClasses($_config);

$_config: (
  property: 'height',
  name: 'h',
  propValues: 50 75 100,
  unit: '%'
);
@include buildClasses($_config);

